server:
  port: 8081
spring:
  application:
    name: @project.artifactId@
    version: @project.version@
  servlet:
    multipart:
      max-file-size: ${MAX_UPLOADED_FILE_SIZE:40MB}
      max-request-size: ${MAX_UPLOADED_FILE_SIZE:40MB}
  datasource:
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_DATABASE:db}
  sql:
    init:
      # to boot up application despite of any DB connection issues
      continue-on-error: true
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: false
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/changelog-master.xml
  jackson:
    default-property-inclusion: non_null
    deserialization:
      fail-on-unknown-properties: false
      accept-single-value-as-array: true
  cloud:
    openfeign:
      okhttp:
        enabled: true
  mustache:
    check-template-location: false
  kafka:
    bootstrap-servers: ${KAFKA_HOST:localhost}:${KAFKA_PORT:9092}
folio:
  system-user:
    enabled: ${SYSTEM_USER_ENABLED:true}
    username: ${SYSTEM_USER_NAME:mod-bulk-operations-system-user}
    password: ${SYSTEM_USER_PASSWORD}
    lastname: System
    permissionsFilePath: permissions/system-user-permissions.csv
  okapi-url: ${OKAPI_URL:http://okapi:9130}
  environment: ${ENV:folio}
  tenant:
    validation:
      enabled: true
management:
  endpoints:
    web:
      exposure:
        include: info,health,env,httptrace
      base-path: /admin
  #  endpoint:
  #    health:
  #      show-details: always
  #      show-components: always
  ###################################################
  # Disable all checks except for readiness
  ###################################################
  health:
    defaults:
      enabled: false
    readinessstate:
      enabled: true
debug: false
application:
  remote-files-storage:
    endpoint: ${S3_URL:http://localhost:9000/}
    region: ${S3_REGION:}
    bucket: ${S3_BUCKET:}
    accessKey: ${S3_ACCESS_KEY_ID:}
    secretKey: ${S3_SECRET_ACCESS_KEY:}
    awsSdk: ${S3_IS_AWS:false}
  kafka:
    topic-pattern: ${ENV:folio}.(.*\.)?data-export.job.update
    topic-pattern-di: ${ENV:folio}.(.*\.)?DI_JOB_COMPLETED
    group-id: ${ENV:folio}-mod-bulk-operations-events-group
  file-uploading:
    max-retry-count: ${MAX_UPLOADING_RETRIES:5000}
  platform: ${PLATFORM:okapi}
