{
   "header":[
      {
         "value":"Barcode",
         "dataType":"STRING",
         "visible":false
      },
      {
         "value":"Username",
         "dataType":"STRING",
         "visible":true
      }
   ],
   "rows":[
      {
         "row":[
            "148573765",
            "Rick Psych"
         ]
      },
      {
         "row":[
            "958305968",
            "Morty Panic"
         ]
      }
   ]
}
